
.contactItem {
    width: 250px;
    display: flex;
    margin: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #ffffff;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
    padding: 20px;
    justify-content: space-between;
}